*{
    padding: 0;
    margin: 0;
    font-family: monospace; 
}
header
{
    height: 8vw;
    width: 100vw;
    background-color: #6E85B7;
    margin: 0 auto;
}
#avatar
{
    width: 8vw;
    height: 8vw;
    border-radius: 8vw;
    margin-left: 15vw;
}
#tieude
{
    float: right;
    margin-right: 38vw;
    margin-top: 2.5vw;
    font-size: 3vw;
}
nav
{
    height: 4vw;
    width: 100vw;
    background-color: #B2C8DF;
    margin: 0 auto;
}
.menu
{
    margin-left: 11vw;
}
nav ul
{
    list-style: none;
}
nav ul li{
    float: left;
    margin: 1.1vw 7vw;
}
nav ul li a{
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
}
.gioithieu
{
    width: 100vw;
    height: 100vh;
    float: left;
}
.card
{
    float: left;
    height: 40vw;
    width: 30vw;
    background-color: #DFD3C3;
    margin: 10vh 5vw;
    border-radius: 5.6vw;
    margin-left: 10vw;
}
h3
{
    margin-top: 2vw;
    font-size: 1.2vw;
}
h2{
    margin-top: 2vw;
    font-size: 1.3vw;
}
h1{
    margin-top: 2vw;
    font-size: 2.0vw;
}
.nut
{
    font-size: 1.2vw;
    background-color: #9E7676;
    width: 20vw;
    height: 4vw;
    margin: 1.2vw 0;
    border-radius: 8vw;
}
.nut a{
    color: black;
    text-decoration: none;
}
#video
{
    width: 27vw;
    height: 20vw;
}
center
{
    margin-top: 3vw;
}
#bgvideo
{
    right: 0;
    bottom: 0;
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
}
.content {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
  }